<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>findID</title>
</head>

<script th:inline="javascript">
    function goToHomeEvt(){
        location.replace("/");
    }
</script>
<body>
    <form id = "findiddiv" action = "/login/findid" method="post">
        <div>이메일</div>
        <input type ="text" name = "email"/>@
        <input type ="text" name = "domain"/>
        <div>폰번호</div>
        <input type = "text" name = "phonenum"/>
        <br>
        <input type = "submit" value = "ID 찾기"/>
    </form>
    <input type="button" value="메인으로 가기" onclick="goToHomeEvt();"/>
</body>
</html>