<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script th:inline="javascript">
        var loginResult = null;
        if([[${loginResult}]] != null || [[${loginResult}]] != ""){
            loginResult = [[${loginResult}]];
        }

    if (loginResult == "1"){
        alert("id : " + [[${id}]] +" 로그인 되었습니다.")
    }

    $(document).ready(function() {
        $("#logoutdiv").click(function () {
            //alert('로그아웃되었습니다.');

            $.ajax({
                url: "/login/logoutprocess.do",
                type: "post",
                data : {param: [[${id}]]},
                dataType: "json",
                success: function (result) {
                    if (result.loginParam == "N") {
                        alert("로그아웃되었습니다.");
                    } else {
                        alert("로그아웃에 실패하였습니다.");
                    }
                },
                error: function () {
                    alert("서버요청실패");
                }
            });

        });
    });


        //window.location.replace('/login/logoutprocess');


    </script>
    <meta charset="UTF-8">
    <title>Main 화면입니다.</title>
</head>
<body>
<div><a href="../login/loginpage.html">로그인페이지</a></div>
<div><a href="../login/joinpage.html">회원가입</a></div>
<div id = "logoutdiv" name ="logoutdiv">로그아웃</div>
<div>게시판</div>
<div>아이디 찾기</div>
</body>
</html>