<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.myautomobileprojectkyj.mapper.MemberMapper">
    <select id="selectMember" resultType="com.example.myautomobileprojectkyj.vo.MemberVo" parameterType="hashMap">
        SELECT * FROM member WHERE id = #{id} and password = #{password}
    </select>


    <insert id="insertMember" >
        INSERT INTO member (seq ,id, name, password, birthday, address, phonenum, email, domain, zipcode, address2) VALUES (#{seq} ,#{id},#{name},#{password},#{birthday},#{address},#{phonenum}, #{email}, #{domain}, null, #{address2})
    </insert>

    <select id="countMember" parameterType="hashMap" resultType="java.lang.Integer">
        SELECT count(*) FROM member WHERE id = #{id} <if test='password != null and password.equals("")'> and password = #{password} </if>
    </select>

    <select id="getIdOfMember" parameterType="hashMap" resultType="com.example.myautomobileprojectkyj.vo.MemberVo">
        SELECT * FROM member WHERE id = #{id}
        <if test="phonenum != null or phonenum != ''"> and phonenum = #{phonenum}</if>
        <if test="email != null or email != ''"> and email = #{email}</if>
        <if test="domain != null or domain != ''"> and domain = #{domain}</if>
    </select>
</mapper>